<div class="container">
    <div class="row">
        <div class="col-7 col-sm-7 col-md-5 col-lg-4 offset-3 offset-lg-2 d-flex align-items-center">
            <img class="logo" src="assets/pictures/icon.png" alt="Your Image Description">
            <h1>LightsOut</h1>
        </div>
        <div class="col-7 col-sm-7 col-md-6 col-lg-4 offset-3 offset-lg-0 d-flex align-items-center">
            <a class="btn btn-primary button" routerLink="/home">Games</a>
            <a class="btn btn-primary button" routerLink="/create">Create</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<div class="container">
    <footer class="text-center py-4">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-1">
                <div class="col">
                    <p class="text-muted my-2">Copyright&nbsp;© 2024 Gašper Azinovič</p>
                </div>
            </div>
        </div>
    </footer>
</div>
